@using Models
@model BookEditViewModel

<form asp-action="edit">
<input asp-for="Edit" hidden>
    <div class="row">
        <div class="col-md-6">
            <partial name="Partial/_Book"/>
        </div>
        <div class="col-md-6">
            <partial name="Partial/_Author"/>
            <partial name="Partial/_Genre"/>
            <partial name="Partial/_Publisher"/>
            <partial name="Partial/_Values"/>
        </div>
    </div>
    <div class="m-50">
        <button type="submit" class="btn btn-primary btn-lg float-right m-10" style="width: 150px;">Save</button>
        <a href="/book" class="btn btn-secondary btn-lg float-right m-10" style="width: 150px;">Cancle</a>
    </div>
</form>
