<div class="index-info">
    <div class="p-10">
        <h1>Booklist</h1>
        <p>Start your <i>free</i> Booklist today!</p>
        <a class="btn btn-primary btn-lg" href="/auth/register">Register!</a>
    </div>
</div>