<div class="social-login col">
    <a href ="#" class="btn-social twitter"><i class="fab fa-twitter"></i></a>
    <a href ="#" class="btn-social facebook"><i class="fab fa-facebook-f "></i></a>
    <a href ="#" class="btn-social xing"><i class="fab fa-xing"></i></a>
    <a href ="#" class="btn-social google"><i class="fab fa-google"></i></a>                
</div>